/* FONTES */
@font-face {
    font-family: GothamMedium;
    src: url(fonts/GothamMedium.otf);
}
@font-face {
    font-family: GothamBook;
    src: url(fonts/GothamBookRegular.otf);
}

body {
    font-family: 'GothamMedium', Helvecita, Arial;
    font-size: 14px;
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}